<div class="banner__wrapper">
  <img data-interchange="[http://via.placeholder.com/595X460/, small]" alt="{{ post.title | truncate: 30 }}">
  <!-- <img src="{{ post.thumb }}" alt="{{ post.title | truncate: 30 }}"> -->
  <a href="{{ post.url }}">
    <div class="banner__text flex-container flex-dir-column align-center-middle">
    </div>
  </a>
</div>

<article>
  <br>
  <div class="text-center">
    <a class="secondary-color h3" href="{{ post.url }}">{{ post.title }}</a>
  </div>
  <!-- <p>{{ post.date | date: "%b %d, %Y" }}</p> -->
  <p class="lead">{{ post.excerpt | truncatewords: 16 }}</p>
  <br>
</article>
