<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    {% seo %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ site.shopify.favicon }}" type="image/png">
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">
    {% feed_meta %}

    <link rel="stylesheet" href="{{ site.data.shopify.css }}">

    <script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = {
      strings: {
        addToCart: "Add to Cart",
        soldOut: "Sold Out",
        unavailable: "Unavailable",
        addedToCart: "Added ✓",
        moneyFormat: "${{amount}}"
      }
    };
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ site.data.shopify.javascript }}" defer="defer"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ site.data.shopify.javascript }}"></script><![endif]-->

  </head>

  <body id="{{ page.title | slugify }}" class="template-{{ page.title | slugify }}">
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">Skip to content</a>
    {% include browser-upgrade.html %}

    <div class="off-canvas-content" data-off-canvas-content>
      <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

      {% include header.html %}

      <main role="main" id="MainContent" data-page="">
        {{ content }}
      </main>

      {% include footer.html %}

    </div>

  </body>

</html>
